In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Question 1

In [7]:
def func1(website):
    webpage=requests.get(website)
    bs=BeautifulSoup(webpage.content)
    header=bs.find_all(['h1','h2','h3','h4','h5','h6'])
    return header

In [8]:
func1('https://en.wikipedia.org/wiki/Main_Page')

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 <span class="vector-menu-checkbox-expanded">expanded</span>
 <span class="vector-menu-checkbox-collapsed">collapsed</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 <span class="vector-menu-checkbox-expanded">expanded</span>
 <span class="vector-menu-checkbox-collapsed">collapsed</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

Question 2

In [9]:
import pandas as pd
def IMDB(website):
    webpage=requests.get(website)
    soup=BeautifulSoup(webpage.content)
        
    #Scrap the movie names
    movie_names=[]
    for i in soup.find_all('td',class_='titleColumn'):
        movie_names.append(i.text.split('\n')[2].strip(' '))
    movie_names
    
    #Scrap the release year
    year_release=[]
    for j in soup.find_all('span',class_='secondaryInfo'):
        year_release.append(j.text.strip('()'))
    year_release
    
    #Scrap the rating
    rating=[]
    for k in soup.find_all('td',class_='ratingColumn imdbRating'):
        rating.append(k.text.strip('\n'))
    rating
    
    #Store the Scrapped data in a Dataframe
    IMDB_Top_Movies=pd.DataFrame()
    IMDB_Top_Movies['Movie_Name']=movie_names
    IMDB_Top_Movies['Release_Year']=year_release
    IMDB_Top_Movies['IMDB_Rating']=rating
    IMDB_Top_Movies.index=IMDB_Top_Movies.index+1
    IMDB_Top_Movies.index.name='Ranking'
    
    #Creating Dataframe with top 100 movies
    IMDB_Top100Movies=IMDB_Top_Movies.head(100)
    return(IMDB_Top100Movies)

In [10]:
IMDB('https://www.imdb.com/chart/top/')

,Movie_Name,Release_Year,IMDB_Rating
Ranking,,,
1,The Shawshank Redemption,1994,9.2
2,The Godfather,1972,9.1
3,The Godfather: Part II,1974,9.0
4,The Dark Knight,2008,9.0
5,12 Angry Men,1957,8.9
6,Schindler's List,1993,8.9
7,The Lord of the Rings: The Return of the King,2003,8.9
8,Pulp Fiction,1994,8.8
9,"Il buono, il brutto, il cattivo",1966,8.8
10,The Lord of the Rings: The Fellowship of the Ring,2001,8.8
11,Fight Club,1999,8.8
12,Forrest Gump,1994,8.7
13,Inception,2010,8.7
14,The Lord of the Rings: The Two Towers,2002,8.7
15,Star Wars: Episode V - The Empire Strikes Back,1980,8.7
16,The Matrix,1999,8.6
17,Goodfellas,1990,8.6
18,One Flew Over the Cuckoo's Nest,1975,8.6
19,Shichinin no samurai,1954,8.6
20,Se7en,1995,8.6
21,The Silence of the Lambs,1991,8.6
22,Cidade de Deus,2002,8.6
23,La vita è bella,1997,8.6
24,It's a Wonderful Life,1946,8.6
25,Star Wars,1977,8.6
26,Saving Private Ryan,1998,8.6
27,Interstellar,2014,8.5
28,Sen to Chihiro no kamikakushi,2001,8.5
29,The Green Mile,1999,8.5
30,Gisaengchung,2019,8.5
...,...,...,...
71,The Dark Knight Rises,2012,8.3
72,Coco,2017,8.3
73,Aliens,1986,8.3
74,Once Upon a Time in America,1984,8.3
75,Capharnaüm,2018,8.3
76,Avengers: Endgame,2019,8.3
77,Das Boot,1981,8.3
78,Tengoku to jigoku,1963,8.3
79,Hamilton,2020,8.3
80,American Beauty,1999,8.3
81,Toy Story,1995,8.3
82,3 Idiots,2009,8.3
83,Amadeus,1984,8.3
84,Braveheart,1995,8.3
85,Inglourious Basterds,2009,8.3
86,Good Will Hunting,1997,8.3
87,Star Wars: Episode VI - Return of the Jedi,1983,8.3
88,2001: A Space Odyssey,1968,8.3
89,Reservoir Dogs,1992,8.3
90,M - Eine Stadt sucht einen Mörder,1931,8.3
91,Taare Zameen Par,2007,8.3
92,Vertigo,1958,8.3
93,Idi i smotri,1985,8.3
94,Citizen Kane,1941,8.3
95,Jagten,2012,8.3
96,Requiem for a Dream,2000,8.3
97,Singin' in the Rain,1952,8.3
98,North by Northwest,1959,8.3
99,Eternal Sunshine of the Spotless Mind,2004,8.3
100,Ladri di biciclette,1948,8.3

Question 3

In [11]:
def IMDB_India(website):
    webpage=requests.get(website)
    soup=BeautifulSoup(webpage.content)
        
    #Scrap the movie names
    movie_names=[]
    for i in soup.find_all('td',class_='titleColumn'):
        movie_names.append(i.text.split('\n')[2].strip(' '))
    movie_names
    
    #Scrap the release year
    year_release=[]
    for j in soup.find_all('span',class_='secondaryInfo'):
        year_release.append(j.text.strip('()'))
    year_release
    
    #Scrap the rating
    rating=[]
    for k in soup.find_all('td',class_='ratingColumn imdbRating'):
        rating.append(k.text.strip('\n'))
    rating
    
    #Store the Scrapped data in a Dataframe
    IMDB_Top_Movies=pd.DataFrame()
    IMDB_Top_Movies['Movie_Name']=movie_names
    IMDB_Top_Movies['Release_Year']=year_release
    IMDB_Top_Movies['IMDB_Rating']=rating
    IMDB_Top_Movies.index=IMDB_Top_Movies.index+1
    IMDB_Top_Movies.index.name='Ranking'
    
    #Creating Dataframe with top 100 movies
    IMDB_Top100Movies=IMDB_Top_Movies.head(100)
    return(IMDB_Top100Movies)

In [12]:
IMDB_India('https://www.imdb.com/india/top-rated-indian-movies/')

                       Movie_Name Release_Year IMDB_Rating
Ranking
1                    Sardar Udham         2021         8.6
2                         Nayakan         1987         8.5
3                      Anbe Sivam         2003         8.5
4               Pariyerum Perumal         2018         8.5
5               C/o Kancharapalem         2018         8.5
6                Manichitrathazhu         1993         8.5
7                         Golmaal         1979         8.5
8                        Kireedam         1989         8.5
9                     Apur Sansar         1959         8.5
10                      Natsamrat         2016         8.4
11                             96         2018         8.4
12                   Thevar Magan         1992         8.4
13              Kumbalangi Nights         2019         8.4
14                   Black Friday         2004         8.4
15                Pather Panchali         1955         8.4
16                Soorarai Pottru         2020         8.4
17                          #Home         2021         8.4
18                     Visaaranai         2015         8.4
19                       3 Idiots         2009         8.4
20                         Jersey         2019         8.3
21               Taare Zameen Par         2007         8.3
22                         Asuran         2019         8.3
23                     Drishyam 2         2021         8.3
24                     Thalapathi         1991         8.3
25                         Kaithi         2019         8.3
26            Sarpatta Parambarai         2021         8.3
27                         Dangal         2016         8.3
28                      Devasuram         1993         8.3
29                      Aparajito         1956         8.3
30             Jaane Bhi Do Yaaro         1983         8.3
...                           ...          ...         ...
71                         Sholay         1975         8.1
72        Maheshinte Prathikaaram         2016         8.1
73         Swades: We, the People         2004         8.1
74                         Talvar         2015         8.1
75                 Chak De! India         2007         8.1
76                  Mughal-E-Azam         1960         8.1
77                    Ustad Hotel         2012         8.1
78                          Black         2005         8.1
79       Zindagi Na Milegi Dobara         2011         8.1
80         Jo Jeeta Wohi Sikandar         1992         8.1
81       Theeran Adhigaaram Ondru         2017         8.1
82                     Chhichhore         2019         8.1
83             Nil Battey Sannata         2015         8.1
84                       Drishyam         2015         8.1
85                     Article 15         2019         8.1
86                          Udaan         2010         8.1
87                      Charulata         1964         8.1
88                         Baasha         1995         8.1
89                    A Wednesday         2008         8.1
90                         Masaan         2015         8.1
91                  Alai Payuthey         2000         8.1
92            Munna Bhai M.B.B.S.         2003         8.1
93                      Virumandi         2004         8.1
94                      Sarfarosh         1999         8.1
95                          Queen         2013         8.1
96                           Roja         1992         8.1
97                 Dil Chahta Hai         2001         8.1
98                Rang De Basanti         2006         8.1
99                OMG: Oh My God!         2012         8.1
100      Uri: The Surgical Strike         2019         8.1

[100 rows x 3 columns]

Question 4

In [13]:
def ICC_Men(website):
    webpage=requests.get(website)
    soup=BeautifulSoup(webpage.content,'lxml')
    
    #Scrap ODI Team Rankings
    #Scrap table rows to know the row tags
    trows=soup.find_all('tr')[1:]
    trows
    
    #Scrap the row content tags to select the desired data
    trd=[]
    for i in soup.find_all('tr')[1:]:
        trd.append(i.find_all('td'))
    trd
    
    #Scrap top 10 team names
    team=[trd[i][1].text.split('\n')[2] for i in range(10)]
    
    #Scrap no of matches data
    matches=[trd[i][2].text for i in range(10)]
    
    #Scrap Points data
    points=[trd[i][3].text for i in range(10)]
     
    #Scrap Ratings data
    rating=[int(trd[i][4].text) for i in range(10)]
    
    #Store the Scrapped data in a DataFrame
    ICC_Men_ODI_Team=pd.DataFrame()
    ICC_Men_ODI_Team['Team']=team
    ICC_Men_ODI_Team['Matches']=matches
    ICC_Men_ODI_Team['Points']=points
    ICC_Men_ODI_Team['Rating']=rating
    ICC_Men_ODI_Team.index=ICC_Men_ODI_Team.index+1
    ICC_Men_ODI_Team.index.name='Position'
    print(ICC_Men_ODI_Team)

In [14]:
ICC_Men('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

                  Team Matches Points  Rating
Position
1          New Zealand      17  2,054     121
2              England      32  3,793     119
3            Australia      28  3,244     116
4                India      32  3,624     113
5         South Africa      25  2,459      98
6             Pakistan      27  2,524      93
7           Bangladesh      30  2,740      91
8          West Indies      30  2,523      84
9            Sri Lanka      32  2,657      83
10         Afghanistan      17  1,054      62

Question 5

In [15]:
def ICC_Women(website):
    webpage=requests.get(website)
    soup=BeautifulSoup(webpage.content,'lxml')
    
    #Scrap ODI Team Rankings
    #Scrap table rows to know the row tags
    trows=soup.find_all('tr')[1:]
    trows
    
    #Scrap the row content tags to select the desired data
    trd=[]
    for i in soup.find_all('tr')[1:]:
        trd.append(i.find_all('td'))
    trd
    
    #Scrap top 10 team names
    team=[trd[i][1].text.split('\n')[2] for i in range(10)]
    
    #Scrap no of matches data
    matches=[trd[i][2].text for i in range(10)]
    
    #Scrap Points data
    points=[trd[i][3].text for i in range(10)]
     
    #Scrap Ratings data
    rating=[int(trd[i][4].text) for i in range(10)]
    
    #Store the Scrapped data in a DataFrame
    ICC_Women_ODI_Team=pd.DataFrame()
    ICC_Women_ODI_Team['Team']=team
    ICC_Women_ODI_Team['Matches']=matches
    ICC_Women_ODI_Team['Points']=points
    ICC_Women_ODI_Team['Rating']=rating
    ICC_Women_ODI_Team.index=ICC_Women_ODI_Team.index+1
    ICC_Women_ODI_Team.index.name='Position'
    print(ICC_Women_ODI_Team)

In [16]:
ICC_Women('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

                  Team Matches Points  Rating
Position
1            Australia      21  3,379     161
2              England      25  2,983     119
3         South Africa      29  3,390     117
4                India      26  2,934     113
5          New Zealand      26  2,392      92
6          West Indies      22  1,872      85
7             Pakistan      20  1,496      75
8           Bangladesh       5    306      61
9            Sri Lanka      11    519      47
10             Ireland       2     25      13

Question 6

Question 7

In [17]:
def Nobroker(website):
    webpage=requests.get(website)
    soup=BeautifulSoup(webpage.content,'lxml')
    
    #Scrap House details
    #Scrap House Title
    title=[t.text for t in soup.find_all('h2', class_='heading-6 font-semi-bold nb__1AShY')]
    
    #Scrap Location
    location=[l.text.split(',')[1:] for l in soup.find_all('div',class_='nb__2CMjv')]
    
    #Scrap Area details
    area=[a.text.strip('sqft') for a in soup.find_all('div',class_='nb__3oNyC')]
    
    #Scrap EMI
    emi=[e.text for e in soup.find_all('div',id='roomType')]
    
    #Scrap Price
    price=[p1.text.split('₹')[1] for p1 in soup.find_all('div',id='minDeposit')]
    
    #Store House details in a DataFrame
    House_details=pd.DataFrame()
    House_details['Title']=title
    House_details['Location']=location
    House_details['Area in sqft']=area
    House_details['EMI']=emi
    House_details['Price in Rupees']=price
    print(House_details)

In [18]:
Nobroker('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0')

                                               Title  \
0  4 BHK In Independent House  For Sale  In Hebba...
1  4 BHK For Sale  In Daadys Garden In Electronic...
2        4 BHK Flat  For Sale  In , Electronic City
3  4 BHK Flat  For Sale  In Hosa Road, Parappana ...
4  4 BHK In Independent House  For Sale  In Elect...
5  4 BHK In Independent House  For Sale  In Elect...
6  4 BHK Flat  For Sale  In Sobha Silicon Oasis  ...
7  4 BHK Apartment  For Sale  In Gopalan Gardenia...
8       4 BHK For Sale  In Gpr Royale In Gpr Royale
9          4 BHK Flat  For Sale  In Electronic City

                                            Location Area in sqft  \
0  [ Bangalore - Hosur Road,  Near  National Publ...       1,800
1  [ Kammasandra,  Electronic City,  Bengaluru,  ...       2,600
2  [ 16th Cross Road Neeladri Nagar,  near by bra...       2,000
3                    [ 11th cross.anjanadri lay out]       3,000
4                              [ surya nagar face 1]       3,000
5                  [ Hosur Rd, Near Infosys Limited]       1,200
6   [ Rayasandra Bengaluru,  Karnataka 560100 India]       1,879
7  [ Veerasandra Main Rd,  Veer Sandra,  Electron...       2,650
8                                                 []       3,100
9                  [ Shikaripalya near Shams School]       1,400

                EMI Price in Rupees
0     ₹77,374/Month     1.35 Crores
1     ₹85,971/Month      1.5 Crores
2     ₹39,546/Month         69 Lacs
3     ₹71,643/Month     1.25 Crores
4  ₹1.43 Lacs/Month      2.5 Crores
5     ₹42,985/Month         75 Lacs
6     ₹88,837/Month     1.55 Crores
7     ₹68,777/Month      1.2 Crores
8     ₹85,971/Month      1.5 Crores
9     ₹20,060/Month         35 Lacs

Question 8

In [19]:
def Dineout(website):
    webpage=requests.get(website)
    soup=BeautifulSoup(webpage.content,'lxml')
    
    #Scrap Restaurant names
    names=[n.text for n in soup.find_all('a',class_='restnt-name ellipsis')]
    
    #Scrap Cuisine details
    cuisine=[c.text.split('|')[1] for c in soup.find_all('div',class_='detail-info')]
    
    #Scrap Location details
    location=[l.text for l in soup.find_all('div',class_='restnt-loc ellipsis')]
    
    #Scrap Restaurant rating
    r1=soup.find('div',class_='restnt-rating rating-3')
    r1=r1.text
    
    rating=[r1]
    for r in soup.find_all('div',class_='restnt-rating rating-4') :
        rating.append(r.text)

    #Scrap Image URL
    url=[i['data-src'] for i in soup.find_all('img',class_='no-img')]
    
    #Store restaurant details in a DataFrame
    Dineout_Delhi=pd.DataFrame()
    Dineout_Delhi['Restaurant Name']=names
    Dineout_Delhi['Cuisine']=cuisine
    Dineout_Delhi['Location']=location
    Dineout_Delhi['Rating']=rating
    Dineout_Delhi['Image URL']=url
    print(Dineout_Delhi)

In [20]:
Dineout('https://www.dineout.co.in/delhi-restaurants/buffet-special')

                     Restaurant Name  \
0                    Castle Barbeque
1                    Jungle Jamboree
2                    Castle Barbeque
3                         Cafe Knosh
4               The Barbeque Company
5                        India Grill
6                     Delhi Barbeque
7   The Monarch - Bar Be Que Village
8                         World Cafe
9                  Indian Grill Room
10                   Mad 4 Bar B Que
11                       Barbeque 29
12                        Glasshouse

                                              Cuisine  \
0                               Chinese, North Indian
1              North Indian, Barbecue, Italian, Asian
2                               North Indian, Chinese
3    Multi-Cuisine, North Indian, Italian, Contine...
4            Barbecue, Chinese, Mughlai, North Indian
5    North Indian, Italian, Oriental 1 offer avail...
6             Barbecue, North Indian1 offer available
7    North Indian, Chinese, Fast Food1 offer avail...
8    North Indian, Chinese, Continental1 offer ava...
9                     North Indian, Mughlai, Barbecue
10                              North Indian, Mughlai
11                    Barbecue, Chinese, North Indian
12   Multi-Cuisine, Asian, European, Italian, Nort...

                                             Location Rating  \
0                      Connaught Place, Central Delhi    3.4
1              3CS Mall,Lajpat Nagar - 3, South Delhi    3.9
2              Pacific Mall,Tagore Garden, West Delhi      4
3   The Leela Ambience Convention Hotel,Shahdara, ...    4.3
4                  Gardens Galleria,Sector 38A, Noida    4.1
5                Hilton Garden Inn,Saket, South Delhi    3.9
6      Taurus Sarovar Portico,Mahipalpur, South Delhi    3.7
7   Indirapuram Habitat Centre,Indirapuram, Ghaziabad      4
8    Vibe by The Lalit Traveller,Sector 35, Faridabad    4.4
9    Suncity Business Tower,Golf Course Road, Gurgaon    4.3
10                               Sector 29, Faridabad    3.8
11                                     NIT, Faridabad    4.3
12  DoubleTree By Hilton Gurugram Baani Square,Sec...      4

                                            Image URL
0   https://im1.dineout.co.in/images/uploads/resta...
1   https://im1.dineout.co.in/images/uploads/resta...
2   https://im1.dineout.co.in/images/uploads/resta...
3   https://im1.dineout.co.in/images/uploads/resta...
4   https://im1.dineout.co.in/images/uploads/resta...
5   https://im1.dineout.co.in/images/uploads/resta...
6   https://im1.dineout.co.in/images/uploads/resta...
7   https://im1.dineout.co.in/images/uploads/resta...
8   https://im1.dineout.co.in/images/uploads/resta...
9   https://im1.dineout.co.in/images/uploads/resta...
10  https://im1.dineout.co.in/images/uploads/resta...
11  https://im1.dineout.co.in/images/uploads/resta...
12  https://im1.dineout.co.in/images/uploads/resta...

Question 10

In [21]:
def Monument(website):
    webpage=requests.get(website)
    soup=BeautifulSoup(webpage.content,'lxml')
    
    #Scrap Monument names
    Monument_names=[t.text for t in soup.find_all('strong')]
    print(Monument_names)

In [22]:
Monument('https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/')

['Taj Mahal, Agra', 'Golden Temple (Harmandir Sahib), Amritsar ', 'Meenakshi Temple, Madurai', 'Mysore Palace, Mysore', 'Gateway of India, Mumbai', 'Red Fort, New Delhi', 'Hawa Mahal, Jaipur', 'Qutub Minar, New Delhi', 'Sanchi Stupa, Sanchi', 'Charminar, Hyderabad', 'Things to know before planning your trip to India']